html{
    background-color: rgb(53, 53, 53);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.dashcontainer{

}

.leftside{
    
}

.rightside{

}

.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    color: white;
}

.header li{
    list-style-type: none;
    display: inline;
    padding: 5px;
}

.header a{
    text-decoration: none;
    display: flex;
    padding: 0;
    margin: 0;
    color: white;
}

.header img{
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0;
}